header {
    // background-color: $clr5;
    padding: 6px 8px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    box-shadow: inset 0px -1px 0px rgb(0 0 0 / 33%);
    transition: all 0.5s ease-out;
    position: fixed;
    width: 100%;

    .header-btn {
        height: 32px;
        min-width: 32px;
        padding: 0 0.5rem;
        font-size: 20px;
    }

    .create-btn {
        @include btn($type: regular);
    }

    .logo {
        padding: 0 0.5rem;
        font-family: "kanit-regular";
        font-weight: bold;
    }

    & * {
        color: $textDark;
    }

    &.isDark {
        box-shadow: inset 0px -1px 0px rgb(255 255 255 / 33%);

        * {
            color: $textLight;
        }
    }

    .member-initials {
        @include btn($type: "initials");
        height: 2rem;
        width: 2rem;
        margin: 0;
        box-shadow: inset 0px -1px 0px rgb(0 0 0 / 33%);
    }
    .member-image {
        display: flex;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin: 0;
        height: 2rem;
        width: 2rem;
        box-shadow: inset 0px -1px 0px rgb(0 0 0 / 33%);
        background-color: aquamarine;

        &:hover {
            filter: brightness(1.1);
        }
    }

    .search-boards {
        min-width: 200px;
        height: 2rem;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 0 0.5rem;
        input {
            background-color: transparent;
            outline: none;
            box-shadow: none !important;
            min-width: 158px;
            height: 2rem;
            color: white;
            border: none;
            &:focus {
                width: 780px;
            }

            &::placeholder {
                color: white;
            }
        }
    }

    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span {
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }

    nav {
        background-color: $clr4;
        padding: 5px 0;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }
}
