.board-header {
    padding: 1rem;
    width: 100%;
    color: $textDark;

    & * {
        color: $textDark;
    }

    &.isDark {
        * {
            color: $textLight;
        }
    }

    input {
        border: none;
        font-size: 20px;
        font-family: "kanit-regular";
        font-weight: bold;
        margin-inline-end: 1rem;
        background-color: transparent;
        width: fit-content;
        padding-inline: 1rem;

        &:focus {
            background-color: white;
            color: $textDark;
        }
    }

    .btn {
        @include btn($type: regular);

        .txt {
            margin-inline-start: 0.5rem;
        }
    }
}
