.board-menu {
    width: 340px;
    height: 100%;
    right: 0;
    position: absolute;
    // padding: 0 0.8rem;
    background-color: #f4f5f7;
    color: $textDark;
    font-size: 1rem;
    box-shadow: inset 1px 0px 0px 0px rgb(0 0 0 / 10%);
    box-shadow: -10px 1px 20px 10px rgb(0 0 0 / 10%);
    transition: all 0.3s ease-out;

    section:not(.menu-container) {
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
    }

    .menu-container {
        .board-menu-page {
            height: calc(100vh - 200px);
        }
        .activities {
            .activities-container {
                font-size: 0.8rem;
                height: calc(100vh - 200px);
                overflow-y: scroll;
            }
        }
    }

    span:first-of-type:not(.fullname) {
        margin-inline-end: 1rem;
    }
    .btn {
        @include btn("board-nav");

        &:hover {
            background-color: rgba($textDark, 0.1);
            border-radius: 0;
        }
    }
    .title {
        font-weight: bold;
        text-align: center;

        .btn {
            padding: 0;
            color: $clr9;

            span {
                margin: 0;
            }
        }
    }

    .activity {
        padding-block: 0.3rem;
        .btn:first-of-type {
            @include btn($type: "initials");
        }
    }

    .fullname {
        font-weight: bold;
    }

    .colors,
    .photos,
    .costume {
        .btn {
            border-radius: 0.5rem;
            height: 90px;
            width: 140px;
            background-size: cover;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .colors {
        .btn {
            background-image: url(https://a.trellocdn.com/prgb/dist/images/colors@2x.ec32a2ed8dd8198b8ef0.jpg);
        }
    }
    .photos {
        .btn {
            background-image: url(https://a.trellocdn.com/prgb/dist/images/photos-thumbnail@3x.8f9c1323c9c16601a9a4.jpg);
        }
    }
    .costume {
        .btn {
            background-color: #eaecf0;
            span {
                font-size: 1.5rem;
                margin: 0;
            }
        }
    }

    &.menuIsHidden {
        margin-right: -340px;
    }
}
