.board-nav{
    width: 260px ;
    height: 100%;
    background-color: lightblue;
    opacity: 0.8;
    backdrop-filter: blur(2px);


    & * {
        color: $textDark !important;
    }

    &.isDark * {
        color: $textLight !important;
    }
}