.board-header {
    padding: 8px 4px 4px 32px;
    width: 100%;
    color: $textDark;
    transition: all 0.3s ease-out;

    & * {
        color: $textDark;
    }

    &.isDark {
        * {
            color: $textLight;
        }
    }

    input {
        border: none;
        font-size: 20px;
        font-family: "kanit-regular";
        text-align: center;
        font-weight: bold;
        margin-inline-start: 0.5rem;
        background-color: transparent;
        width: fit-content;
        // padding-inline: 1rem;

        &:focus {
            background-color: white;
            color: $textDark;
        }
    }

    .btn {
        @include btn($type: regular);

        .txt {
            margin-inline-start: 0.5rem;
        }
    }
    .btn-initials {
        @include btn($type: initials);
    }

    div:last-of-type {
        transition: all 0.3s ease-out;
    }

    &.menuIsShown {
        // width: calc(100% - 340px);
        .btns-container:last-of-type {
            margin: 0;
            margin-right: 340px;
        }
    }
    .member-initials {
        @include btn($type: "initials");
        height: 2rem;
        width: 2rem;
        margin: 0;
        box-shadow: inset 0px -1px 0px rgb(0 0 0 / 33%);
    }
    .member-image {
        display: flex;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin: 0;
        height: 2rem;
        width: 2rem;
        box-shadow: inset 0px -1px 0px rgb(0 0 0 / 33%);

        &:hover {
            filter: brightness(1.1);
        }
    }
}
