.board-nav {
    width: 260px;
    height: 100%;
    backdrop-filter: blur(2px);
    box-shadow: inset -1px 0px 0px rgba(0, 0, 0, 0.33);
    margin-left: 0px;
    opacity: 1;

    &.navIsHidden {
        margin-left: -235px;
        opacity: 0.6;

        .btn-toggle {
            position: relative;
            left: 30px;
            top: 0;
            border-radius: 50% !important;
            background-image: linear-gradient(to left, $textDark 60%, rgba(255, 255, 255, 0.6));
            border: 1px solid $textDark;
            font-size: 0.6rem;
            display: flex;
            justify-content: center;
            align-items: center;

            span::before {
                content: "\f054";
            }
        }
    }

    div:first-of-type {
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.33);

        &.isDark {
            box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.33);

            * {
                color: $textLight;
            }
        }
    }
    & * {
        color: $textDark;
    }

    &.isDark {
        box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.33);

        * {
            color: $textLight;
        }
    }

    .btn {
        &-nav {
            @include btn($type: "board-nav");

            border-radius: 0;
            padding-inline-start: 1rem;

            span {
                margin-inline-end: 0.5rem;
            }
        }
        &-regular {
            @include btn($type: "board-nav");

            border-radius: 3px;
            height: 2rem;
            aspect-ratio: 1/1;
            color: white;
            margin-inline-start: 0;
            margin-inline-end: 1rem;
        }
    }
    .nav-title {
        font-weight: bold;
        padding-block: 1rem;
        padding-inline-start: 1rem;
    }
}
