.checklist-preview {
    .btn-save {
        @include btn-add-save($type: "save");
    }

    .btn-delete,
    .add-todo-btn,
    .close-btn {
        @include btn-add-save($type: "cancel");
    }

    .checklist-container {
        margin-bottom: 24px;
    }

    .checklist-title-input {
        width: 100%;
        box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4221);
    }

    .todo-container {
        display: flex;
        gap: 10px;

        input {
            // position: absolute;

            opacity: 0.5;
            cursor: pointer;
            // height: 0;
            // width: 0;

            &:checked {
                opacity: 1;
            }

            // margin-inline-start: -35px;
            // margin-inline-end: 15px;
            border: $textLight;
        }

        .todo-container {
            height: 20px;
            margin: 0;
            padding: 0;
            cursor: pointer;
            align-items: flex-start !important;
        }
        .todo-edit-container {
            font-size: 0.875rem;
            flex-grow: 1;
            .todo-edit {
                width: 100%;
                // position: absolute;
                width: 100%;
                textarea {
                    width: 100%;
                    // width: calc(100% - 40px);
                    font-size: 0.875rem;
                    // border: none;
                    min-height: 60px;
                    padding: 8px 12px;
                    background-color: #eaecf0;
                    border-radius: 3px;
                    resize: none;
                }
            }
            // position: absolute;
        }
        cursor: pointer;

        margin-block-start: 0.5rem;
        .btn-delete {
            @include btn($type: "task-details");
            background-color: transparent;
            opacity: 0;
            margin: 0;

            &:hover {
                background-color: transparent;
            }
        }

        &:hover {
            // background-color: #eaecf0;
            border-radius: 3px;
            .btn-delete {
                margin: 0;
                opacity: 1;
            }
        }
    }

    .elipsis-icon {
        color: black;

        &:hover {
            cursor: pointer;
        }
    }

    progress {
        display: block;
        width: calc(100% - 40px);
        // color: crimson;

        // &::-webkit-progress-value {
        //     background: red;
        // }
    }

    .line-through {
        text-decoration: line-through;
    }
    // progress::-webkit-progress-value {
    //     background: red;
    // }
    .margin-0 {
        margin: 0;
    }
}
/* For Firefox */

/* For Chrome or Safari */
progress::-webkit-progress-value {
    border-radius: 3px;
    background: green;
}

// #custom-progress-bar {
//     --clr-progress-bg-color: lightgray;
//     --clr-progress-default-color: orange;
// }
