.cover-edit {
    .photos-container {
        // display: grid;
        // grid-template-columns: 136px 136px;
        // grid-template-columns: 100px 100px;
        gap: 10px;

        img {
            object-fit: cover;
            height: 50px;
            width: 80px;
            // width: 33%;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                filter: brightness(95%);
            }
        }
    }
    input {
        margin-block-start: 1rem;
    }
}
