.group-list {
    gap: 10px;
    height: 100%;
    padding: 0.5rem;
    overflow-x: scroll;
    width: 100%;
    margin: 0rem 0 0.5rem 0.5rem;

    & * {
        font-family: "opensans";
        font-size: 1rem;
    }

    .add-new-list {
        width: 272px;

        .open-add-list {
            background-color: $clr14;
            min-width: 272px;
            padding: rem(6px) rem(8px);
            color: $clr12;
        }
    }

    form {
        background-color: $clr12;
        padding: rem(4px);

        gap: 4px;

        input {
            margin: 0;
            width: 100%;
        }

        .add-list-btns {
            margin: 0 !important;
        }

        height: fit-content;
        flex-wrap: wrap;

        button {
            width: fit-content;
            margin: 0;

            &.add-list-btn {
                margin-right: rem(16px);
                color: $clr12;
                background-color: $clr3;
                padding: rem(4px) rem(12px);
            }
        }

        transition: all 1s;
    }
}
