.home-page {
    header {
        .logo {
            font-family: "kanit-regular";
            font-weight: bold;

            font-size: 3rem;
            margin-bottom: 2rem;

            span:last-of-type {
                color: #253858;
            }
        }
    }
}
