.screen {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.task-details {
    display: grid;
    grid-template-areas:
        "cover cover"
        "header header"
        "main aside";
    grid-template-columns: 1fr 170px;
    grid-template-rows: auto 85px 1fr;

    position: absolute;
    top: 50px;
    right: 50%;
    transform: translateX(50%);

    font-size: 1rem;
    color: $textDark;
    background-color: $taskDetailsBGC;
    padding: 16px;
    border-radius: 3px;
    width: 770px;

    & * :not(.trellicons):not(.fa-regular) {
        font-family: "opensans";
    }

    .large {
        font-size: 1.5rem;
        &.trellicons {
            top: 0;
            margin-inline-end: 1rem;
        }
        &.fa-regular {
            top: 0;
            margin-inline-end: 1rem;
        }
    }
    .small {
        font-size: 0.8rem;
    }

    .btn {
        @include btn;
        .trellicons {
            top: 0;
            margin-inline-end: 1rem;
        }
        .fa-regular {
            top: 0;
            margin-inline-end: 1rem;
        }
        margin-block: 0.2rem;

        font-size: 0.9rem;
        background-color: #eaecf0;

        &:hover {
            background-color: rgba($textDark, 0.1);
            border-radius: 0;
        }
    }

    .task-cmp {
        padding-block: 1rem;
    }

    .task-cmp-title {
        // height: 30px;
        font-size: 1rem;
        font-weight: bold;
    }

    .task-cover {
        grid-area: cover;
        .btn {
            @include btn();
            position: absolute;
            right: 0.2rem;
            top: 0.5rem;
            font-size: 1.5rem;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: transparent;
            &:hover {
                background-color: rgba($textDark, 0.3);
            }
        }
    }
    .task-header {
        grid-area: header;

        input {
            height: 30px;
            font-size: 20px;
            font-weight: bold;
            border: none;
            background-color: transparent;
            width: 100%;
            padding: 0;
        }
    }

    .task-details-aside {
        grid-area: aside;
        padding-inline-start: 1rem;
    }

    .task-details-main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .pad-40 {
        margin-inline-start: 40px;
    }

    textarea {
        border: none;
        resize: vertical;
        margin-block-start: 1rem;
        background-color: $taskDetailsBtn;
        border-radius: 3px;
    }
}
