.task-details {
    font-size: 1rem;
    background-color: $clr1;
    min-height: 600px;
    border: 1px solid black;
    position: absolute;
    padding: 0 8px 16px 8px;
    z-index: 100;
    right: 50%;
    top: 0;
    bottom: 100px;
    transform: translateX(50%);
    border-radius: 3px;
    display: grid;
    max-width: 770px;
    width: 60%;
    grid-template-areas:
        "header header"
        "main aside";
    grid-template-columns: 1fr 170px;
    grid-template-rows: 100px 1fr;

    .task-header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        padding: 12px 16px 8px 0px;
    }

    .task-details-aside {
        grid-area: aside;
        display: flex;
        flex-direction: column;
        padding-inline-start: 8px;
        padding-inline-end: 16px;
        justify-self: end;

        button {
            padding: 6px 12px;
        }
    }

    .task-details-main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .desc-container {
        display: flex;
        flex-direction: column;

        .desc-header {
            font-weight: 600;
        }

        .save-btn {
            align-self: flex-start;
            padding: 0;
            margin-top: 20px;
            font-size: 1rem;
            background-color: #0079bf;
            color: $clr1;
            padding: 6px 12px;
            border-radius: 3px;
            margin-inline-end: 10px;
        }

        .cancel-btn {
            padding: 6px 12px;
            margin-top: 20px;


            &:hover {
                background: rgb(237, 237, 237);
                // filter: brightness(55%);
            }
        }
    }

    textarea {
        min-height: 60px;
        padding: 8px 12px;
        background-color: #eaecf0;
        resize: none;

        &:hover {
            cursor: pointer;
            // filter: brightness(95%);
        }

        &.desc-open {
            background-color: white;
            height: 110px;
            box-shadow: inset 0 0 0 1px var(--ds-border-focused, #0079bf);
        }

        &::after {
            background-color: black;
        }
    }

    .task-activities {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}