.labels-preview {
    li {
        padding: 0;
       margin-bottom: 15px;
        min-width: 40px;
        min-height: 8px;
        border-radius: 5px;
        cursor: pointer;

        .open{
          width: fit-content;  
          height: fit-content;
        }
        span{
            font-size: rem(10px);
            font-weight: 200;
            padding: rem(2px) rem(10px);
        }
    }
}