.activities-preview {
    font-size: 0.8rem;
    span:first-of-type:not(.fullname) {
        margin-inline-end: 1rem;
    }

    .title {
        font-weight: bold;
        text-align: center;
    }

    .btn {
        @include btn-add-save($type: "cancel");
    }
    .activity {
        width: 100%;
        padding-block: 0.3rem;
        .btn:first-of-type {
            @include btn($type: "initials");
        }
    }

    .fullname {
        font-weight: bold;
    }
}
