* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
}

body {
    margin: 0;
    // background-color: lightblue;
    // font-size: 0.8rem;

    & * {
        font-family: "opensans";
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: caveat;
    margin: 0;
    line-height: 1;
    font-size: 1rem;
}

// img {
//     width: 100%;
// }

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button::first-letter {
    text-transform: capitalize !important;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/
    // -webkit-border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    padding: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    // -webkit-border-radius: 10px;
    border-radius: 0.3rem;
    background-color: rgba(255, 255, 255, 0.4);
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
