form > * {
    display: block;
    width: 200px;
    margin: 10px 0px;
}

.btn-close {
    @include btn("close");
}

.task-editor {
    position: absolute;
    top: 10%;
    right: -130px;

    border-radius: 3px;
    background-color: white;
    padding-inline: 0.8rem;
    box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 10%);
    color: $textDark;
    width: 300px;

    & * {
        font-size: 0.9rem;
    }
    .title {
        text-align: center;
        padding-block: 13px;
        box-shadow: inset 0px -1px 0px rgb(0 0 0 / 10%);
        margin-block-end: 10px;
    }
    .mini-title {
        padding-block: 10px;
        margin-block-start: 10px;
        font-weight: bold;
    }

    select,
    textarea,
    input {
        background-color: $taskDetailsBtn;
        border: 1px solid #dfe1e6;
        padding: 8px 12px;
        border-radius: 3px;
        border: none;
        // margin-block-start: 1rem;
        &:hover {
            cursor: auto;
            filter: brightness(95%);
        }
        &:focus {
            // border: 1px solid blue;
        }
    }
    select,
    textarea,
    input[type="file"],
    input[type="text"] {
        width: 100%;
    }

    .no-results {
        font-style: italic;
        font-weight: lighter;
        padding-block: 1rem;
    }
}
