.main-layout {
    @include scroll-bar;

    display: grid;
    grid-template-rows: 44px 1fr;
    grid-template-areas:
        "appHeader"
        "appMain";
    height: 100vh;
    margin: 0;
    width: 100%;

    // overflow: hidden;
}

#app {
    // overflow: hidden;
}

.app-header {
    grid-area: appHeader;
    // background-color: blue;
}

.app-main {
    // overflow: hidden;
    grid-area: appMain;
}

// .card-grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     grid-gap: 20px;
// }
