@font-face {
    font-family: fa-regular;
    src: url(../../fonts/fa/fa-regular-400.ttf);
}
@font-face {
    font-family: kanit-regular;
    src: url(../../fonts/kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: mochlypopne-regular;
    src: url(../../fonts/mochlypopne/MochiyPopOne-Regular.ttf);
}
@font-face {
    font-family: opensans-italic;
    src: url(../../fonts/opensans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}