// Colors

$clr14: #484848b2;
$clr13: #172b4d;
$clr12: #ebecf0;
$clr11: #faf3c0;
$clr10: #4bbf6b;
$clr9: #838c91;
$clr8: #cd5a91;
$clr7: #89609e;
$clr6: #b04632;
$clr5: #519839;
$clr4: #d29034;
$clr3: #0079bf;
$clr2: #026aa7;
$clr1: #fafbfc;

$textDark: #1f242e;
$textLight: white;

$userBgc1: #00875a;
$userBgc2: #de350b;
$userBgc3: #0756cd;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
