// Colors


$clr10: #4bbf6b;
$clr9: #838c91;
$clr8: #cd5a91;
$clr7: #89609e;
$clr6: #b04632;
$clr5: #519839;
$clr4: #d29034;
$clr3: #0079bf;
$clr2: #026aa7;
$clr1: #fafbfc;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;